.App {
  max-width: 100%;
  margin: 0 auto;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  grid-auto-rows: minmax(100px, auto);
}

.App .Card {
  border: 1px solid black;
}

.App .card-image {
  max-width: 100%;
}

.App .card-content {
  padding: 1rem;
}

.App .card-title {
  font-size: 20px;
}

.App .card-breed-age {
  color: gray;
  font-size: 16px;
}
