html {
  box-sizing: border-box;
  font-size: 90%; /*14.4px */
}

@media (min-width: 65em) {
  html {
    box-sizing: border-box;
    font-size: 100%; /*16px */
  }
}

* {
  box-sizing: inherit;
}

.App {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 3rem;
  max-width: min(100%, 1100px);
  margin: 0 auto;
  padding: 2.5rem;
}

.App .Card {
  border: 1px solid black;
}

.App .card-image {
  max-width: 100%;
}

.App .card-content {
  padding: 1rem;
}

.App .card-title {
  font-size: 1.5rem;
}

.App .card-breed-age {
  color: gray;
  font-size: 1rem;
}
